// Header
.header {}

.header--mobile {

    .container:first-of-type {
        display: table;
    }

    .header--left,
    .header--right {
        width: 20%;
    }

    .header--left,
    .header--center,
    .header--right {
        display: table-cell;
        vertical-align: middle;
    }

    .header--left {}

    .search {
        color: $primary-dark;
    }

    .header--center {
        width: 60%;
        text-align: center;

        a,
        .logo {
            display: block;
        }
    }

    .header--right {
        text-align: right;
    }

    .toggle-menu {
        color: $primary-light;
    }
}
