// Header

.header--main {
    display: none;

    @media (min-width: $bp-m) {
        display: block;
    }

    .container:first-of-type {
        display: table;
    }

    .header--left,
    .header--right {
        width: 15%;
    }

    .header--left,
    .header--center,
    .header--right {
        display: table-cell;
        vertical-align: middle;
    }

    .header--right {
        text-align: right;
    }
}

.header--mobile {
    display: block;

    @media (min-width: $bp-m) {
        display: none;
    }

    .container:first-of-type {
        display: table;
    }

    .header--left,
    .header--right {
        width: 20%;
    }

    .header--left,
    .header--center,
    .header--right {
        display: table-cell;
        vertical-align: middle;
    }

    .search {
        color: $primary-dark;
    }

    .header--center {
        width: 60%;
        text-align: center;

        a,
        .logo {
            display: block;
        }

        .logo {
            margin: 0 auto;
        }
    }

    .header--right {
        text-align: right;
    }

    .toggle-menu {
        color: $primary-light;
    }

    .header--actions {
        text-align: center;
        background: $gray-ultralight;

        & > *:not(:first-child) {
            margin-left: 0.5rem;
        }

        .call {
            display: inline-block;
        }
    }
}

.overlay--search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($white, 0.9);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 99;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    .centerer {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        p {
            margin-bottom: 2rem;

            @media (min-width: $bp-s) {
                font-size: 2rem;
            }

            a {
                color: $black;
                margin-left: 1rem;
            }
        }
    }

    .search-form {
        .fa {
            font-size: 1rem;

            @media (min-width: $bp-s) {
                font-size: 1.5rem;
            }
        }

        input {
            display: inline-block;
            width: 80%;
            margin-left: 0.5rem;
            border: solid #333;
            border-width: 0 0 1px;
            border-radius: 0;

            @media (min-width: $bp-s) {
                width: 50%;
                margin-left: 1rem;
            }
        }
    }
}
