// Main

.section--background {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.75);
    }
}

.section--hero {
    position: relative;
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97475&w=800&h=475);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-width: $bp-m) {
        background-image: url(https://placeholdit.imgix.net/~text?txtsize=75&txt=2000%C3%97725&w=2000&h=725);
    }

    .container {
        position: relative;
    }

    .centerer {
        padding: 7rem 0;
        text-align: center;

        h1 {
            color: $white;
            font-size: 2rem;
            margin-bottom: 1rem;

            @media (min-width: $bp-m) {
                font-size: 3rem;
            }
        }
    }

    .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        color: $white;
        font-size: 0.8rem;
    }

    .contact-box {
        display: none;

        @media (min-width: $bp-m) {
            display: block;
            position: absolute;
            bottom: -2rem;
            right: 0;
            padding: 1rem;
            background: $white;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
        }
    }
}

.section--content {
    padding: 4rem 0;

    .lead {
        font-size: 1.5rem;
    }
}

.section--quote {
    padding: 5rem 0;
    color: $white;
    background-image: url(https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97475&w=800&h=475);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-width: $bp-m) {
        background-image: url(https://placeholdit.imgix.net/~text?txtsize=75&txt=2000%C3%97725&w=2000&h=725);
        font-size: 1.5rem;

        blockquote {
            text-align: right;
        }
    }

    blockquote {
        margin: 0;
        padding: 0;
        border: none;
    }

    .credit {
        margin-top: 1rem;
    }
}

.section--pre-footer {
    background: $primary-darker;
    text-align: center;
    padding-bottom: 1rem;

    .container {
        overflow: hidden;
    }

    @media (min-width: $bp-m) {
        .footer-action {
            float: right;
        }
    }
}
